#controls {
/*float:top;*/
}

#mselector {
	float:left;
	width:70%;
}
#dates {
	/*float:left;*/
	float: left;
	width: 30%
}

#dateDivOne {
	float: left;
	width:50%;
}

#dateDivTwo {
	float: left;
	width:50%;
}

#memberDialogButton {
	float: left;
	/*width: 20%;*/
}
.memberDialogName {
	float: left;
	width: 280px;
	/*display: inline-;*/
}
#memberDialog {
	/*display: inline-block;*/
}
#memberSearch {
	float: left;
	/*width: 80%;*/
}

p {
	margin: auto;
}
h4 {
	margin: auto;
}

#mainTable {
	float:bottom;
}

.control {
	/*display:block;*/

}